/.github export-ignore
/tests export-ignore
/.wp-env.json export-ignore
/.editorconfig export-ignore
/.eslintrc.js export-ignore
/playwright.config.js export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/composer.json export-ignore
/composer.lock export-ignore
*.mp3 binary
*.png binary
*.ttf binary
