/.github export-ignore
/tests export-ignore
/scripts export-ignore
/site export-ignore
/.wp-env.json export-ignore
/.editorconfig export-ignore
/eslint.config.js export-ignore
/.distignore export-ignore
/.release-please-manifest.json export-ignore
/release-please-config.json export-ignore
/playwright.config.js export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpcs.xml.dist export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/CHANGELOG.md export-ignore
/SECURITY.md export-ignore
*.mp3 binary
*.png binary
*.ttf binary
/.prettierignore export-ignore
